<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				客户端消费位点信息
	        	<a class="navbar-right" data-toggle="collapse" data-parent="#accordion" href="#queryConditionId">高级查询</a>
			</div>
			<form class="form-inline" role="jobForm" method="post" action="/canalRunningInfoList">
				<table class="table table-hover">
					<tbody>
					
					
					
					
					
						<!-- query condition start-->
						<tr>
							<td colspan="2">
								<div class="panel-group" id="accordion">
							    	<div id="queryConditionId" class="panel-collapse collapse">
							      		<div class="panel-body">
							        		<table class="table table-bordered table-hover">
												<tbody>
													<tr>
														<td> <label><font color="#DC483A">canal主机:</font></label>
															<div class="form-group"> <input type="text" class="form-control" name="canalAddress" value="$!businessName" id="canalAddress" size="30" placeholder="不填则显示所有，格式：host:port"></div>
														</td>
														<td> <label><font color="#DC483A">canal端口:</font></label>
															<div class="form-group"> <input type="text" class="form-control" name="canalAddress" value="$!businessName" id="canalAddress" size="30" placeholder="不填则显示所有，格式：host:port"></div>
														</td>
													</tr>
													<tr>
														<td> <label><font color="#DC483A">数据库主机:</font></label>
															<div class="form-group"> <input type="text" class="form-control" name="canalDestination" id="canalAddress" value="$!canalAddress" placeholder="不填则所有实例"></div>
														</td>
														<td> <label><font color="#DC483A">数据库端口:</font></label>
															<div class="form-group"> <input type="text" class="form-control" name="canalDestination" id="canalAddress" value="$!canalAddress" placeholder="不填则所有实例"></div>
														</td>
													</tr>
													<tr>
														<td><label><font color="#08C">查询条数limit:</font></label>
															<div class="form-group">
																<select class="form-control" name="limit" id="limit">
																	<option value="10">10</option>
																	<option value="20">20</option>
																	<option value="50">50</option>
																	<option value="100">100</option>
																	<option value="1000">1000</option>
																</select>
															</div>
														</td>
														<td>
															<div class="form-group">
																<button type="submit" class="btn btn-info" name="jobButton" value="canalRunningInfo">查询</button>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
							      		</div>
							    	</div>
								</div>
							</td>
						</tr>
						<!-- query condition end-->
						
						<!-- query result start-->
						#if($runningDataMap && $runningDataMap.size() > 0)
							<tr>
								<td colspan="2">
									<table class="table table-bordered table-hover">
									    <thead>
											<tr class="active">
												<th>实例名</th>
												
												<th>dump位点</th>
												<th>消费位点</th>
												
												<th>剩余条数</th>
												<th>剩余容量</th>
												
												<th>消费延时</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody> 
											#foreach($serverDataEntry in $runningDataMap.entrySet())
												#set($canalAddr=$serverDataEntry.key)
												#set($canalAddrStr=$canalAddr.toString())
												#set($canalHost=$canalAddr.getHostName())
												#set($canalPort=$canalAddr.getPort())
												#set($serverData=$serverDataEntry.value)
												#set($canalHostName=$serverData.canalHostName)
												<tr>
										     		<td colspan="10">
										     			<font color="#08C">$!canalHostName &nbsp $!canalAddrStr.substring(1,$!canalAddrStr.length())</font>
									     			</td>
								     			</tr>
									     			
								     			#set($instanceDatas=$serverData.instanceDatas)
								     			#foreach($instanceDataEntry in $instanceDatas.entrySet())
								     				#set($destination=$instanceDataEntry.key)
													#set($instanceData=$instanceDataEntry.value)
													<tr>
														<td>$destination</td>
														<td>$formater.dumpDateTime($!instanceData)</td>
														<td>$formater.consumeDateTime($!instanceData)</td>
														<td>$formater.bufferSizeRemain($!instanceData)</td>
														<td>$formater.bufferCapacityRemain($!instanceData)</td>
														<td>
															#if($formater.isDelay($!instanceData, 1)) 
																<font color="#DC483A">$formater.delayDes($!instanceData)</font>
															#else $formater.delayDes($!instanceData) #end
														</td>
														<td>
															<a href="canalRunningInfoDetail?canalHost=$!canalHost&canalPort=$!canalPort&destination=$!destination">
																<button type="button" class="btn btn-info btn-xs" name="queryButton" value="jobrecord">详情</button>
															</a>
														</td>
													</tr>
								     			#end
											#end
										</tbody>	
									</table>
								</td>
							</tr>
						#end
						<!-- query result end-->
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>