<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">查询binlog信息</div>
			<form class="form-inline" role="lockForm" method="post" action="/queryTablePositionDirectory">
				<table class="table table-hover">
					<tbody>
						<tr>
							<td>
								<label><font color="#08C">
									<a href="/queryTable.vm">表查询</a>
								</font></label>
							</td>
						</tr>
						<tr>
							<td>
								<label><font color="#08C">
									<a href="/queryBinlog.vm">binlog查询</a>
								</font></label>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div> 